body {
    background: #e1b382;
}

.intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.question {
    margin-top: 20px;
}

.question-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question-image img {
    margin-top: 10px;
    width: 800px;
    height: 500px;
}

.question-choices {
    margin-top: 25px;
    margin-bottom: 50px;
}

.question-choices input {
    opacity: 0;
    position: fixed;
    width: 0;
}

.question-choices input:checked + label {
    background: rgb(100, 94, 214);
}

.question-choices label {
    background: #12343b;
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}

.check_score {
    text-align: center;
}

#score {
    margin: 20px;
    background: rgb(35, 34, 73);
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#score:hover {
    background: rgb(47, 44, 114);
    cursor: pointer;
}